.team_logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eeeef0;
  overflow: hidden;
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }
  &:after {
    position: absolute;
    top: -76px;
    left: 136px;
    content: "+";
    font-size: 40px;
    display: block;
    transition: 0.5s;
    color: red;
  }
  &:hover {
    &:after{
      top: 76px;
      transform: rotate(360deg);
    }
  }
}

