@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";
@import "../css/media-queries.css";
@import "../css/owl.carousel.min.css";
@import "../css/owl.theme.default.min.css";

@font-face {
  src: url("../fonts/glyphicons-halflings-regular.svg");
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.ttf");
  src: url("../fonts/glyphicons-halflings-regular.woff");
  src: url("../fonts/glyphicons-halflings-regular.woff2");
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #4e525d;
}

.navbar.navbar-default {
  height: 100px;
  background-color: white;
  border: none;
  box-shadow: none;
  background-image: none;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    width: 100%;
    z-index: 10;
    text-align: center;
    position: fixed;
    border-bottom: 3px solid #49cbcd;
  }
  .navbar-header {
    padding-top: 15px;
    .navbar-toggle {
      margin-top: 15px;
    }
  }
  .navbar-nav {
    li {
      a {
        background-color: white;
        font-size: 15px;
        height: 100px;
        padding-top: 35px;
        @media screen and (max-width: 767px) {
          font-size: 18px;
          border-bottom: 1px solid #485460;
        }
        &:hover {
          background-color: #f8f9fb;
          color: #49cbcd;
          border-bottom: 3px solid #49cbcd;
        }
      }
    }
    li.active {
      a {
        background-color: #f8f9fb;
        background-image: none;
        box-shadow: none;
        color: #49cbcd;
        border-bottom: 3px solid #49cbcd;
      }
    }
  }
}

.container-fluid.owl-div {
  padding: 0;
  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }
}

.owl-carousel{
  .banner_owl {
    height: 566px;
    background-size: cover;
    text-align: center;
    color: white;
  }
  .banner_owl.banner_owl_first {
    background-image: url("../images/banner.png");
  }
  .banner_owl.banner_owl_second {
    background-image: url("../images/contact_us.png");
  }
  h1 {
      font-weight: 600;
      font-size: 50px;
      padding-top: 140px;
      margin-bottom: 30px;
      margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 767px) {
      font-size: 40px;
      padding-top: 140px;
    }
    }
  .owl-content {
      width: 400px;
      margin: auto;
      margin-bottom: 55px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    p {
        font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      }
    }
  a {
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    border: 3px solid white;
    border-radius: 5px;
    text-decoration: none;
    &:hover{
      background-color: rgba(255,255,255, 0.4);
      }
    }
  .owl-nav {
    color: white;
    font-size: 40px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .owl-prev {
      position: absolute;
      outline: none;
      bottom: 285px;
      left: 15px;
      &:before{
        content: "\f359";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    .owl-next {
      position: absolute;
      outline: none;
      right: 15px;
      bottom: 285px;
      &:before{
        content: "\f35a";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
  .owl-dots {
    @media screen and (max-width: 767px) {
      position: absolute;
      left: 48%;
      bottom: 6%;
      display: flex;
      align-items: center;
     .owl-dot span{
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      height: 6px;
      width: 6px;
      margin: 4px;
      outline: none;
    }
      .owl-dot.active span{
      height: 10px;
      width: 10px;
    }
  }
  }
}


.team {
  h2 {
    margin-top: 80px;
    margin-bottom: 110px;
    font-size: 35px;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .team_logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eeeef0;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 35px;
    @media screen and (max-width: 767px){
      margin-bottom: 0;
    }
    img {
      display: block;
      width: 100%;

    }
    &:after {
      position: absolute;
      top: 82px;
      left: 130px;
      content: url("../images/mark.png");
      display: none;
      @media screen and (max-width: 1024px) {
        left: 100px;
      }
      @media screen and (max-width: 769px) {
        left: 166px;
      }
      @media screen and (max-width: 415px) {
        left: 190px;
      }
      @media screen and (max-width: 376px) {
        left: 170px;
      }
      @media screen and (max-width: 321px) {
        left: 140px;
      }
    }
    &:hover {
      &:after {
        display: block;
      }
    }
  }
  h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
  .description {
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 100px;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
}

.coupons {
  background-color: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 1024px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (max-width: 767px){
    padding-top: 30px;
    padding-bottom: 0;
  }
  .coupon {
    width: 369px;
    background-color: white;
    padding: 0;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: auto;
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      margin: auto;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      li {
        text-align: center;
        font-size: 14px;
        line-height: 47px;
        border: 1px solid #ecf0f1;
        color: #8c9299;
        a {
          text-decoration: none;
          color: white;
          background-color: #485460;
          margin-bottom: 30px;
          margin-top: 30px;
          line-height: 40px;
          padding-right: 50px;
          padding-left: 50px;
          display: inline-block;
          border-radius: 4px;
          font-weight: 600;
        }
      }
      .buy {
        background-color: #f8f9fb;
      }
      .coupon-name {
        line-height: 75px;
        color: white;
        background-color: #485460;
        font-size: 26px;
        border: none;
      }
      .coupon-price {
        line-height: 75px;
        color: #485460;
        background-color: #f8f9fb;
        font-size: 20px;
        border-top: none;
      }
    }
  }
  .coupon.pro {
    .coupon-name, a {
      background-color: #49cbcd;
    }
  }
}

.contact-us {
  background-image: url("../images/contact_us.png");
  color: white;
  background-size: cover;
  padding-bottom: 95px;
  h2 {
    margin: 0;
    font-size: 42px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width: 767px){
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .contact-text {
    width: 450px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      line-height: 23px;
      color: #989898;
    }
    .social {
      p {
        color: #bface2;
        line-height: 28px;
      }
      .soc_icon {
        width: 41px;
        line-height: 41px!important;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        font-size: 18px;
        color: white;
        text-decoration: none;
        margin-right: 15px;
        margin-top: 25px;
        margin-bottom: 15px;
      }
      .fa-facebook-f {
        background-color: #3b5997;
      }
      .fa-twitter {
        background-color: #3ec2f3;
      }
      .fa-google-plus-g {
        background-color: #e44c41;
      }
    }
  }
}

form {
  .form-control {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #c1c1c1;
  }
  #exampleTextareaMassage {
    height: 180px;
  }
  .btn.btn-default {
    color: white;
    width: 100%;
    box-shadow: none;
    background-image: none;
    background-color: #49cbcd;
    border: none;
    line-height: 50px;
  }
}
