@font-face {
  src: url("../fonts/glyphicons-halflings-regular.svg");
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.ttf");
  src: url("../fonts/glyphicons-halflings-regular.woff");
  src: url("../fonts/glyphicons-halflings-regular.woff2");
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #4e525d;
}

.navbar.navbar-default {
  height: 100px;
  background-color: white;
  border: none;
  box-shadow: none;
  background-image: none;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    width: 100%;
    z-index: 10;
    text-align: center;
    position: fixed;
    border-bottom: 3px solid #49cbcd;
  }
  .navbar-header {
    padding-top: 15px;
    .navbar-toggle {
      margin-top: 15px;
    }
  }
  .navbar-nav {
    li {
      a {
        background-color: white;
        font-size: 15px;
        height: 100px;
        padding-top: 35px;
        @media screen and (max-width: 767px) {
          font-size: 18px;
        }
        &:hover {
          background-color: #f8f9fb;
          color: #49cbcd;
          border-bottom: 3px solid #49cbcd;
        }
      }
    }
    li.active {
      a {
        background-color: #f8f9fb;
        background-image: none;
        box-shadow: none;
        color: #49cbcd;
        border-bottom: 3px solid #49cbcd;
      }
    }
  }
}

.container-fluid.owl-div {
  padding: 0;
  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }
}

.owl-carousel{
  .banner_owl {
    height: 566px;
    background-size: cover;
    text-align: center;
    color: white;
  }
  .banner_owl.banner_owl_first {
    background-image: url("../images/banner.png");
  }
  .banner_owl.banner_owl_second {
    background-image: url("../images/contact_us.png");
  }
  h1 {
      font-weight: 600;
      font-size: 50px;
      padding-top: 140px;
      margin-bottom: 30px;
      margin-top: 0;
    @media screen and (max-width: 767px) {
      font-size: 40px;
      padding-top: 140px;
    }
    }
  .owl-content {
      width: 400px;
      margin: auto;
      margin-bottom: 55px;
    p {
        font-size: 18px;
      }
    }
  a {
      font-size: 20px;
      color: white;
      padding: 10px 30px;
      border: 3px solid white;
      border-radius: 5px;
    &:hover {
        text-decoration: none;
      background-color: rgba(255,255,255, 0.4);
      }
    }
  .owl-nav {
    color: white;
    font-size: 40px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .owl-prev {
      position: absolute;
      outline: none;
      bottom: 285px;
      left: 15px;
      &:before{
        content: "\f359";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    .owl-next {
      position: absolute;
      outline: none;
      right: 15px;
      bottom: 285px;
      &:before{
        content: "\f35a";
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
  .owl-dots {
    @media screen and (max-width: 767px) {
      position: absolute;
      left: 48%;
      bottom: 10%;
      display: flex;
      align-items: center;
     .owl-dot span{
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.6) !important;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      margin: 4px;
      outline: none;
    }
      .owl-dot.active span{
      height: 10px;
      width: 10px;
    }
  }
  }
}


.team {
  h2 {
    margin-top: 80px;
    margin-bottom: 110px;
    font-size: 35px;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .team_logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eeeef0;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 35px;
    @media screen and (max-width: 767px){
      margin-bottom: 0;
    }
    img {
      display: block;
      width: 100%;

    }
    &:after {
      position: absolute;
      top: 76px;
      left: 136px;
      content: "+";
      font-size: 40px;
      color: red;
      display: none;
    }
    &:hover {
      &:after {
        display: block;
      }
    }
  }
  h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
  .description {
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 100px;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
}

.coupons {
  background-color: #f1f1f1;
}



